*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-register{
    width: 100%;
    height: 100%;
    padding:6% 30%;
    background-color: pink;
}
.container-buttons{
    width: 100%;
    height: 80px;
    padding: 10px 80px;
    margin-left: 100px;
}
.container-buttons a{
    background-color: #DDA0DD;
    width: 300px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding:10px 25px;
}
.container-buttons a:hover{
    border-radius: 0.8rem;
    background-color: pink;
}
.container-form{
    width: 800px;
    height: 100%;
    background-color: #DDA0DD;
    border-radius: 0.5rem;
    padding: 20px;

}
h2{
    margin-left: 70px;
}
.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.container-inputs{
    height: 100%;
}
.container-inputs input{
    width: 400px;
    height: 35px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 1rem;
    padding-left: 10px;
    border: none;
}
.container-inputs input:hover{
    border: 4px solid pink;
}

.form-register label{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}
.enviar{
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 0.8rem;
    color: black;
    font-size: 25px;
    padding-left: 10px;
    background-color: pink;
    margin-top: 20px;
}
.enviar:hover{
    background-color: #fe81b7;
    color: black;
}
select{
    width: 200px;
    height: 35px;
    border-radius: 1rem;
}
select:hover{
    border: 4px solid pink;
}

/*containerLogout*/
.containerLogout{
    width: 100%;
    height: 62vh;
    display: flex;
    align-items: center;
    padding: 0 40%;
}

.containerLogout button{
    height: 60px;
    width: 350px;
}
/*Login*/
.containerLogin{
    width: 100%;
    height: 60vh;
    padding:6% 30%;
    background-color: pink;

}
.subContainerLogin{
    width: 800px;
    height: 100%;
    background-color: #DDA0DD;
    border-radius: 0.5rem;
    padding: 20px ;    
    display: flex;
    flex-direction: column;
}
.container-inputs-login{
    padding: 0 180px;
}
.container-inputs-login input{
    width: 400px;
    height: 35px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 1rem;
    padding-left: 10px;
    border: none;
}
.container-inputs-login label{
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}
.container-inputs-login button{
    width: 200px;
    height: 40px;
    border-radius: 1rem;
    margin: 20px 90px;
    background-color: #fe81b7;
    border: none;
}
.container-inputs-login button:hover{
    background-color: pink;
}